<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1>NodeJS</h1>
    <div><a href="/produtos">Listar Produtos</a></div>
    <div><a href="/produtos/form">Incluir Produto</a></div>
</body>
</html>